<section class="followUsBg">
    <!-- <img src="./../../assets/img/beads_1.png" alt="">
    <div class="followUsCard">
        <h2>Folge uns</h2>
        auf Facebook und Instagram und verpasse keine Updates zu kreativen Ideen oder Gewinnspielen
    </div>
    <img src="./../../assets/img/beads_clear.png" alt=""> -->
    <div class="followUs">

        <div class="text">
            <h2>Folge uns</h2>
            <p>auf Facebook und Instagram und verpasse keine Updates!</p>
            <p>Entdecke mit uns kreative Ideen, Produktneuheiten, exklusive Angebote und vieles mehr.<br>
            </p>
            <div class="socialMedia">
                <a href="{{media.link}}" *ngFor="let media of socialMedia">
                    <img src="./../../assets/icons/{{media.icon}}" alt="" class="sMIcons"></a>
            </div>
        </div>
        <div class="pic">
            <img src="./../../assets/img/{{image}}" class="picAnimation">
        </div>

    </div>
</section>