.followUsBg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    .followUs {
        width: 100%;
        margin: var(--mc);
        padding: var(--pp);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        gap: 50px;
    }
    .pic {
        padding-top: 50px;
        padding-bottom: 80px;
        box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        width: 90%;
        max-width: 400px;
        img {
            width: 100%;
        }
    }
    .text {
        max-width: 400px;
    }
    .followUsCard {
        height: 200px;
        width: 300px;
        border-radius: 20px;
        // box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width:950px) {
    .followUs {
        flex-direction: column !important;
    }
}