<section class="welcome">
    <div class="overlay">
    </div>
    <div class="title">
        <img src="./../../assets/img/logo.png" alt="">
        <h1>Herzlich Willkommen bei DekOh!</h1>
        <h3>Profitieren Sie von Cashback, Gewinnspielen und weiteren Kundenvorteilen!<br>Schauen Sie sich gerne um.</h3>
        <h3>Bei Fragen kontaktieren Sie uns gerne.</h3>
        <button class="full-rounded btn">
            <span>
                Jetzt kostenlos am Gewinnspiel teilnehmen und einen Amazon Gutschein im Wert von 100€ gewinnen!
            </span>
            <div class="border full-rounded"></div>
        </button>
    </div>
</section>