.welcome {
    width: 100%;
    height: 70vh;
    background-image: url('./../../assets/img/beads_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: var(--textcolor);
    .overlay {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60%;
        background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    }
    .title {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
            max-height: 25vh;
        }
        text-align: center;
        padding: var(--pp);
        margin: var(--mc);
        margin-top: 0 !important;
    }
}

@media (max-width:800px) {
    .welcome {
        height: 100vh;
    }
}