<section class="welcome">
    <div class="overlay">
    </div>
    <div class="title">
        <img src="./../../assets/img/logo.png" alt="">
        <h1>Herzlich Willkommen bei DekOh!</h1>
        <p>Profitieren Sie von Cashback, Gewinnspielen und weiteren Kundenvorteilen!<br>Schauen Sie sich gerne um.</p>
        <p>Bei Fragen kontaktieren Sie uns gerne.</p>
        <button class="full-rounded btn" (click)="_sus.navigateTo('amz')">
            <span>
                Unsere Wasserperlen bei Amazon.de!
            </span>
            <div class="border full-rounded"></div>
        </button>
    </div>
</section>