<section class="product">
    <div class="text">
        <h2>Unsere DekOh! Wasserperlen</h2>
        <ul>
            <li>Farbenfroh</li>
            <li>Einfach anzuwenden</li>
            <li>Dekorativ</li>
        </ul>
        <button class="btn" (click)="_sus.navigateTo('tts')">
            <span>Jetzt im Tiktok Shop kaufen</span>
            <div class="border"></div>
        </button>
    </div>
    <div class="pic">
        <img src="./../../assets/img/dekoh_02.jpg" alt="">
    </div>
</section>
<section class="usageBg">
    <div class="usage">

        <div class="text">
            <h2>Einfache Verwendung</h2>
            <ul>
                <li>Geben Sie einige Perlen in ein großes Gefäß</li>
                <li>Füllen Sie das Gefäß mit ausreichend Wasser</li>
                <li>Erleben Sie in einigen Stunden voller Vorfreude die erstaunliche Ausdehnung unserer Gelperlen</li>
            </ul>
        </div>
        <!-- <div class="pic"> -->
        <img src="./../../assets/img/verwendung.jpg" alt="">
        <!-- </div> -->
    </div>
</section>