@font-face {
    font-family: 'roboto';
    src: url(./assets/font/Roboto/Roboto-Regular.ttf);
    font-family: 'roboto-bold';
    src: url(./assets/font/Roboto/Roboto-Bold.ttf);
    font-family: 'roboto-black';
    src: url(./assets/font/Roboto/Roboto-Black.ttf);
}

:root {
    --textcolor: #ffffff;
    --accentcolor: #F0AA2F;
    --font-size: 20px;
}

body {
    margin: 0;
    font-family: 'roboto', sans-serif;
    font-size: var(--font-size)
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.btn_small {
    position: relative;
    width: 100%;
    padding: 20px;
    // border: 2px solid var(--accentcolor);
    border: none;
    background-color: var(--accentcolor);
    // background-color: #ffffff;
    transition: all 225ms ease-in-out;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    // font-weight: bold;
    font-size: var(--font-size);
    box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    &:hover {
        filter: brightness(1.2);
    }
}

.btn {
    position: relative;
    padding: 20px;
    border: 2px solid var(--accentcolor);
    background-color: var(--accentcolor);
    transition: all 225ms ease-in-out;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: var(--font-size);
    .border {
        position: absolute;
        border: 2px solid var(--accentcolor);
        transition: all 225ms ease-in-out;
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    &:hover {
        transform: scaleX(1.025) scaleY(1.025);
        cursor: pointer;
        filter: brightness(1.2);
        .border {
            transform: scaleX(1.05) scaleY(1.2);
        }
    }
}

.bg {
    width: 100%;
    height: 100vh;
    background-image: url('.//assets/img/beads_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    .overlay {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60%;
        background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    }
    .legal {
        background-color: rgba(255, 255, 255, 0.4);
        margin: 0vh 15vw;
        padding: 0vh 5vw;
        overflow-y: scroll;
        position: relative;
        z-index: 2;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        text-align: justify;
        img {
            align-self: center;
            max-height: 25vh;
        }
    }
}

@media (max-width: 500px) {
    .bg {
        .legal {
            margin: 0;
            padding: 0px 20px;
        }
    }
}

::-webkit-scrollbar {
    width: 8px;
}

//   / Track /
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
}